.rotated-image{
    $angle: 3deg;

    figure img {
        -webkit-transform: rotate(-$angle);
        transform: rotate(-$angle);

        -webkit-box-shadow: 2px 2px 10px 8px rgba(0,0,0,0.51);
        -moz-box-shadow: 2px 2px 10px 8px rgba(0,0,0,0.51);
        box-shadow: 2px 2px 10px 8px rgba(0,0,0,0.51);
    }

    @media #{$parallax-break} {
        &.has-media-on-the-right figure img {
            -webkit-transform: rotate($angle) translateX(-30px) scale(0.8);
            transform: rotate($angle) translateX(-30px) scale(0.8);
        }
    }
}

.wp-block-media-text {
    grid-template-columns: 40% auto;
}

.wp-block-media-text.has-media-on-the-right {
    grid-template-columns: auto 40%;
}

.media-cabinet-container{
    .slide-content:after {
        background-image: url('img/radio-and-sideboard-new.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: bottom;
        width: 100% + ($slideContentMargin*2) + 1%;
        margin-left: -($slideContentMargin + 1%);
        margin-bottom: -($slideContentMargin*2 + 10px);
        overflow-x: hidden;
        content: '';
        height: 320px;
    }
}

.soliloquy-controls {
    z-index: 100;
}

blockquote.wp-block-quote {
    font-style: italic;
    margin: 90px;
    margin-bottom: 60px;
    margin-top: 30px;
    &:before {
        content: '"';
        position: absolute;
        margin-left: -30px;
        margin-top: -30px;
        font-size: 61pt;
        color: rgba(255,255,255, 0.3);
        font-family: 'Yanone Kaffeesatz',sans-serif;
    }

    p:last-of-type {
        margin-bottom: 0.5em;
    }

    cite {
        text-align: right;
        float: right;
        font-size: 10pt;
        color: rgba(255,255,255,0.7);
    }
}

.wp-block-pullquote {
    padding: 1em 0;
    p {
        font-size: 1.5em;
        line-height: 1.4;
    }
}
