$mastheadWidth: 30%;
$brandingGutter: 15%;
$samplesWidth: 100% - $mastheadWidth - $brandingGutter;

$mobileHeaderWidth: 70%;

$takeAListenMobileBasis: 0.6;

.site-header {
	height: 0;
	overflow: hidden;
	position: relative;
	background-size: cover;
	background-position-x: 42%;
	background-position-y: 65%;

	@media (max-width: $parallax-break-width - 1px){
		padding-top: 160%;
	}

	@media #{$parallax-break} {
		padding-top: 48%;
	}

	width:100%;
	background-image: url("img/hero-big.jpg");
	background-size: cover;
}

.header-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

.site-branding {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: -40px;

	display: -webkit-flex;
	display: flex;
	@media (max-width: $parallax-break-width - 1px){
		flex-direction: column;
		justify-content: start;
		align-items: center;
	}

	@media #{$parallax-break} {
		flex-direction: row;
		justify-content: space-between;
		align-items: top;
	}

	max-width: 2000px;

	&.slide-content {
		padding-top: 20px;
	}
}

.masthead {
	@media (max-width: $parallax-break-width - 1px){
		width: $mobileHeaderWidth;
		top: 60px;
	}
	@media #{$parallax-break} {
		width: $mastheadWidth;
	}
}

.listen-container {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: left;

	@media (max-width: $parallax-break-width - 1px){
		margin-top: -10px;
		width: $mobileHeaderWidth;
	}

	@media #{$parallax-break} {
		width: $samplesWidth;
		position: relative;
		margin-left: $brandingGutter;
	}

	.listen {
		@media (max-width: $parallax-break-width - 1px){
			margin-left: 10px;
			width: $takeAListenMobileBasis * 100%;
		}

		@media #{$parallax-break} {
			margin-left: 40px;
			width: $takeAListenMobileBasis * 60%;
		}
	}

	.audio-sample {
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		justify-content: stretch;
		align-items: center;

		.title{
			margin-right: 20px;
		}
		.player {
			flex-grow: 1;
		}
	}
}

