/*!
 Theme Name: VictorySistersV2
 Theme URI: http://underscores.me/
 Author: Underscores.me
 Author URI: http://underscores.me/
 Description: Description
 Version: 1.3.0
 License: GNU General Public License v2 or later
 License URI: LICENSE
 Text Domain: victorysistersv2
 Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
 This theme, like WordPress, is licensed under the GPL.
 Use it to make something cool, have fun, and share what you've learned with others.
 VictorySistersV2 is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
 Underscores is distributed under the terms of the GNU GPL v2 or later.
 Normalizing styles have been helped along thanks to the fine work of
 Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
 */
/*--------------------------------------------------------------
 >>> TABLE OF CONTENTS:
 ----------------------------------------------------------------
 # Normalize
 # Typography
 # Elements
 # Forms
 # Navigation
 ## Links
 ## Menus
 # Accessibility
 # Alignments
 # Clearings
 # Widgets
 # Content
 ## Posts and pages
 ## Comments
 # Infinite scroll
 # Media
 ## Captions
 ## Galleries
 --------------------------------------------------------------*/
@font-face {
  font-family: "GillSansMTPro-Medium";
  src: url('webfonts/3859D9_0_0.eot');
  src: url('webfonts/3859D9_0_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3859D9_0_0.woff2') format('woff2'), url('webfonts/3859D9_0_0.woff') format('woff'), url('webfonts/3859D9_0_0.ttf') format('truetype');
}
/*
 *  slides - container for all parallax elements. Fills 100% of the viewport
 *  slide - a single block. Is 100% of the viewport width
 *  slide-content - container for all slide content. Includes sensible margins
 */
/* Point at which we enable parallax */
/*--------------------------------------------------------------
 * Main body stylings
 */
body {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*--------------------------------------------------------------
 * Slides
 */
/*--------------------------------------------------------------
 * Slide
 */
.slide {
  position: relative;
  width: 100%;
}
.slide:not(:first-child).dado:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0;
  right: 0;
  top: 0;
  -webkit-filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.44));
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.44));
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#000')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#000')";
  background-image: url('img/dado-rail.jpg');
  background-repeat: repeat-x;
  background-size: contain;
}
.slide .slide-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-size: cover;
}
.slide.grey-wallpaper .slide-background {
  background-image: url("img/grey-wallpaper-rot.jpg");
}
.slide.blue-wall .slide-background {
  background-image: url("img/blue-wall.jpg");
}
.slide.red-wall .slide-background {
  background-size: initial;
  background-image: url("img/red-wall-tiled.jpg");
}
.slide.geo-wall .slide-background {
  background-image: url("img/geometric-wallpaper.jpg");
}
.slide.floating-slide {
  height: 0;
}
.slide.floating-slide .slide-content {
  padding-top: 0;
  padding-bottom: 0;
}
/*--------------------------------------------------------------
 * Slide content
 */
.slide-content {
  width: 100%;
  color: white;
  padding: 5%;
}
/*--------------------------------------------------------------
 # Normalize
 --------------------------------------------------------------*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button, input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button, select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
/*--------------------------------------------------------------
 # Typography
 --------------------------------------------------------------*/
body, button, input, select, optgroup, textarea {
  color: #404040;
  font-family: "GillSansMTPro-Medium", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}
.ui-widget {
  font-family: "GillSansMTPro-Medium", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 1px;
}
h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child), h5:not(:first-child), h6:not(:first-child) {
  margin-top: 30px;
}
h1 {
  font-size: 3.4em;
}
p {
  margin-bottom: 1.5em;
}
dfn, cite, em, i {
  font-style: italic;
}
blockquote {
  margin: 0 1.5em;
}
address {
  margin: 0 0 1.5em;
}
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}
code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
mark, ins {
  background: #fff9c0;
  text-decoration: none;
}
big {
  font-size: 125%;
}
.callout-text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
/*--------------------------------------------------------------
 # Elements
 --------------------------------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}
body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}
ul, ol {
  margin: 0 0 1.5em 3em;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li > ul, li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 1.5em 1.5em;
}
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}
figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}
table {
  margin: 0 0 1.5em;
  width: 100%;
}
/*--------------------------------------------------------------
 # Forms
 --------------------------------------------------------------*/
button, input[type="button"], input[type="reset"], input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}
button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus {
  color: #111;
}
select {
  border: 1px solid #ccc;
}
textarea {
  width: 100%;
}
/*--------------------------------------------------------------
 # Navigation
 --------------------------------------------------------------*/
/*--------------------------------------------------------------
 ## Links
 --------------------------------------------------------------*/
a {
  color: royalblue;
}
a:visited {
  color: purple;
}
a:hover, a:focus, a:active {
  color: midnightblue;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}
/*--------------------------------------------------------------
 ## Menus
 --------------------------------------------------------------*/
.site-header .main-navigation {
  width: 100%;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
@media only screen and (min-width: 650px) {
  .site-header .main-navigation {
    padding-bottom: 10px;
  }
}
@media (min-width: 1000px) {
  .site-header .main-navigation {
    padding-bottom: 20px;
  }
}
.site-header .main-navigation ul {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
  margin: 0;
  color: white;
  list-style: none;
}
.site-header .main-navigation li {
  display: block;
  padding: 5px 30px;
  margin: 5px 5px 0 0;
  font-family: 'GillSansMTPro-Medium';
  font-size: 100%;
  background-color: #dc2834;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7), -1px -1px 1px rgba(255, 255, 255, 0.1);
  text-align: center;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.52);
}
@media (min-width: 1000px) {
  .site-header .main-navigation li {
    padding: 10px 30px;
    margin: 10px 10px 0 0;
    font-size: 130%;
  }
}
.site-header .main-navigation li a {
  display: block;
  text-decoration: none;
  color: white;
}
.site-header .main-navigation li:hover {
  background-color: #b41d27;
}
/*--------------------------------------------------------------
 # Accessibility
 --------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}
/*--------------------------------------------------------------
 # Alignments
 --------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*--------------------------------------------------------------
 # Clearings
 --------------------------------------------------------------*/
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}
.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {
  clear: both;
}
/*--------------------------------------------------------------
 # Widgets
 --------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */
}
.widget select {
  max-width: 100%;
}
/*--------------------------------------------------------------
 # Content
 --------------------------------------------------------------*/
/*--------------------------------------------------------------
 ## Posts and pages
 --------------------------------------------------------------*/
.sticky {
  display: block;
}
.post, .page {
  margin: 0;
}
.updated:not(.published) {
  display: none;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
footer {
  z-index: 1000;
}
footer .slide-background {
  background-image: url("img/floor.jpg");
}
footer .slide-wrapper {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75) inset, 0px -2px 4px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75) inset, 0px -2px 4px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75) inset, 0px -2px 4px 2px rgba(0, 0, 0, 0.3);
}
/*--------------------------------------------------------------
 ## Comments
 --------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}
.c-accordion__item {
  border-top: rgba(255, 255, 255, 0.5) solid 2px;
  margin-top: 3px;
}
.c-accordion__item:active, .c-accordion__item:focus {
  outline-style: none;
}
.c-accordion__item .c-accordion__title:active, .c-accordion__item .c-accordion__title:focus {
  outline-style: none;
}
.wp-block-getwid-tabs.ui-tabs {
  border: none;
  background: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 24px;
}
.wp-block-getwid-tabs__nav-links.ui-tabs-nav.ui-corner-all {
  border: none;
  background: none;
  border-radius: 0;
  padding: 0;
}
.wp-block-getwid-tabs__nav-link.ui-tabs-tab.ui-tab {
  border: none;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 !important;
  margin-right: 6px !important;
  margin-bottom: 6px !important;
}
.wp-block-getwid-tabs__nav-link.ui-tabs-tab.ui-tab h2 a {
  color: rgba(255, 255, 255, 0.8);
  padding: 0.3em 1em !important;
}
.wp-block-getwid-tabs__nav-link.ui-tabs-tab.ui-tab h2 a:hover {
  color: white;
}
.wp-block-getwid-tabs__nav-link.ui-tabs-tab.ui-tab.ui-tabs-active {
  background: rgba(255, 255, 255, 0.2);
  padding-bottom: 0;
}
.wp-block-getwid-tabs__nav-link.ui-tabs-tab.ui-tab.ui-tabs-active h2 a {
  color: white;
}
.wp-block-getwid-tabs__tab-content-wrapper.ui-tabs-panel.ui-widget-content {
  padding: 0;
  border: none;
  color: white;
}
/*--------------------------------------------------------------
 # Infinite scroll
 --------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, .infinite-scroll.neverending .site-footer {
  /* Older / Newer Posts Navigation (always hidden) */
  /* Theme Footer (when set to scrolling) */
  display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}
/*--------------------------------------------------------------
 # Media
 --------------------------------------------------------------*/
.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
/* Make sure embeds and iframes fit their containers. */
embed, iframe, object {
  max-width: 100%;
}
/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}
/*--------------------------------------------------------------
 ## Captions
 --------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}
.wp-caption-text {
  text-align: center;
}
/*--------------------------------------------------------------
 ## Galleries
 --------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}
.gallery-caption {
  display: block;
}
.site-header {
  height: 0;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position-x: 42%;
  background-position-y: 65%;
  width: 100%;
  background-image: url("img/hero-big.jpg");
  background-size: cover;
}
@media (max-width: 649px) {
  .site-header {
    padding-top: 160%;
  }
}
@media only screen and (min-width: 650px) {
  .site-header {
    padding-top: 48%;
  }
}
.header-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.site-branding {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: -40px;
  display: -webkit-flex;
  display: flex;
  max-width: 2000px;
}
@media (max-width: 649px) {
  .site-branding {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}
@media only screen and (min-width: 650px) {
  .site-branding {
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
  }
}
.site-branding.slide-content {
  padding-top: 20px;
}
@media (max-width: 649px) {
  .masthead {
    width: 70%;
    top: 60px;
  }
}
@media only screen and (min-width: 650px) {
  .masthead {
    width: 30%;
  }
}
.listen-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
}
@media (max-width: 649px) {
  .listen-container {
    margin-top: -10px;
    width: 70%;
  }
}
@media only screen and (min-width: 650px) {
  .listen-container {
    width: 55%;
    position: relative;
    margin-left: 15%;
  }
}
@media (max-width: 649px) {
  .listen-container .listen {
    margin-left: 10px;
    width: 60%;
  }
}
@media only screen and (min-width: 650px) {
  .listen-container .listen {
    margin-left: 40px;
    width: 36%;
  }
}
.listen-container .audio-sample {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}
.listen-container .audio-sample .title {
  margin-right: 20px;
}
.listen-container .audio-sample .player {
  flex-grow: 1;
}
.rotated-image figure img {
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-box-shadow: 2px 2px 10px 8px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 2px 2px 10px 8px rgba(0, 0, 0, 0.51);
  box-shadow: 2px 2px 10px 8px rgba(0, 0, 0, 0.51);
}
@media only screen and (min-width: 650px) {
  .rotated-image.has-media-on-the-right figure img {
    -webkit-transform: rotate(3deg) translateX(-30px) scale(0.8);
    transform: rotate(3deg) translateX(-30px) scale(0.8);
  }
}
.wp-block-media-text {
  grid-template-columns: 40% auto;
}
.wp-block-media-text.has-media-on-the-right {
  grid-template-columns: auto 40%;
}
.media-cabinet-container .slide-content:after {
  background-image: url('img/radio-and-sideboard-new.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
  width: 111%;
  margin-left: -6%;
  margin-bottom: -10.1041666667%;
  overflow-x: hidden;
  content: '';
  height: 320px;
}
.soliloquy-controls {
  z-index: 100;
}
blockquote.wp-block-quote {
  font-style: italic;
  margin: 90px;
  margin-bottom: 60px;
  margin-top: 30px;
}
blockquote.wp-block-quote:before {
  content: '"';
  position: absolute;
  margin-left: -30px;
  margin-top: -30px;
  font-size: 61pt;
  color: rgba(255, 255, 255, 0.3);
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
blockquote.wp-block-quote p:last-of-type {
  margin-bottom: 0.5em;
}
blockquote.wp-block-quote cite {
  text-align: right;
  float: right;
  font-size: 10pt;
  color: rgba(255, 255, 255, 0.7);
}
.wp-block-pullquote {
  padding: 1em 0;
}
.wp-block-pullquote p {
  font-size: 1.5em;
  line-height: 1.4;
}
