/*
 *  slides - container for all parallax elements. Fills 100% of the viewport
 *  slide - a single block. Is 100% of the viewport width
 *  slide-content - container for all slide content. Includes sensible margins
 */

 /* Point at which we enable parallax */
$parallax-break-width: 650px;
$parallax-break: "only screen and (min-width: #{$parallax-break-width})";

/*--------------------------------------------------------------
 * Main body stylings
 */

body {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------
 * Slides
 */


/*--------------------------------------------------------------
 * Slide
 */

.slide {
    position: relative;
    width: 100%;

    // Dado rail
    &:not(:first-child).dado:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 80px;
        left:0;
        right: 0;
        top:0;
        -webkit-filter: drop-shadow(0px 6px 6px rgba(0,0,0,0.44));
        filter        : drop-shadow(0px 6px 6px rgba(0,0,0,0.44));
        -ms-filter    : "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#000')";
        filter        : "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#000')";

        background-image: url('img/dado-rail.jpg');
        background-repeat: repeat-x;
        background-size: contain;
    }

    // Backgrounds
    .slide-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-size: cover;
    }

    &.grey-wallpaper .slide-background {
        background-image: url("img/grey-wallpaper-rot.jpg");
    }
    &.blue-wall .slide-background {
        background-image: url("img/blue-wall.jpg");
    }
    &.red-wall .slide-background {
        background-size: initial;
        background-image: url("img/red-wall-tiled.jpg");
    }
    &.geo-wall .slide-background {
        background-image: url("img/geometric-wallpaper.jpg");
    }

    &.floating-slide {
        height: 0;
        .slide-content {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}
/*--------------------------------------------------------------
 * Slide content
 */

$slideContentMargin: 5%;
$slideContentWidth: 100% - ($slideContentMargin*2);


.slide-content {
    width: 100%;

    color: white;
    
    padding: $slideContentMargin;
}
