$font__main: "GillSansMTPro-Medium", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

@font-face {
    font-family: "GillSansMTPro-Medium";
    src: url('webfonts/3859D9_0_0.eot');
    src: url('webfonts/3859D9_0_0.eot?#iefix') format('embedded-opentype'), url('webfonts/3859D9_0_0.woff2') format('woff2'), url('webfonts/3859D9_0_0.woff') format('woff'), url('webfonts/3859D9_0_0.ttf') format('truetype');
}