$nav-back-color: rgba(0, 210, 168, 0.95);
$big-menu-break-width: 1000px;

.site-header .main-navigation {
	width: 100%;

	padding-bottom: 5px;
	@media #{$parallax-break} {
		padding-bottom: 10px;
	}
	@media (min-width: $big-menu-break-width) {
		padding-bottom: 20px;
	}
	padding-left: 10px;
	padding-right: 10px;

	ul {
		height: 100%;
		
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: top;
		flex-wrap: wrap;
		margin: 0;
		color: white;

		list-style: none;
	}

	li {
		display: block;
		padding: 5px 30px;
		margin: 5px 5px 0 0;

		@media (min-width: $big-menu-break-width) {
			padding: 10px 30px;
			margin: 10px 10px 0 0;
			font-size: 130%;
		}

		font-family: 'GillSansMTPro-Medium';
		font-size: 100%;
		background-color: $color__vs_red_button;
		text-shadow: 1px 1px 1px rgba(0,0,0,.7), -1px -1px 1px rgba(255,255,255, 0.1);
		text-align: center;
		-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.52); 
		box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.52);

		a {
			display: block;
			text-decoration: none;
			color: white;
		}

		&:hover {
			background-color: darken($color__vs_red_button, 10%);
		}
	}
}