$tabsContainer: ".wp-block-getwid-tabs.ui-tabs";
$tabsNav: ".wp-block-getwid-tabs__nav-links.ui-tabs-nav.ui-corner-all";
$tabHeader: ".wp-block-getwid-tabs__nav-link.ui-tabs-tab.ui-tab";
$activeTabHeader: ".ui-tabs-active";
$tabContent: ".wp-block-getwid-tabs__tab-content-wrapper.ui-tabs-panel.ui-widget-content";

#{$tabsContainer} {
    border: none;
    background: none;
    border-radius: 0;
    padding: 0;
    margin-bottom: 24px;
}

#{$tabsNav} {
    border: none;
    background: none;
    border-radius: 0;
    padding: 0;
    //margin-bottom: 6px;
}

#{$tabHeader} {
    border: none;
    border-radius: 0;
    background: fadeout(white, 90%);
    margin: 0 !important;
    margin-right: 6px !important;
    margin-bottom: 6px !important;
    h2 {
        a {
            color: fadeout(white, 20%);
            padding: 0.3em 1em !important;
            &:hover {
                color: white;
            }
        }
    }

    &#{$activeTabHeader} {
        background: fadeout(white, 80%);
        padding-bottom: 0;
        h2 {
            a {
                color: white;
            }
        }
    }
}

#{$tabContent} {
    padding: 0;
    border: none;
    color: white;
}