.c-accordion__item {
    border-top: fadeout(white, 50%) solid 2px;
    margin-top: 3px;

    &:active,&:focus {
        outline-style: none;
    }

    .c-accordion__title {
        &:active,&:focus {
            outline-style: none;
        }

    }
}