.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}


.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

footer {
	z-index: 1000;
	.slide-background {
        background-image: url("img/floor.jpg");
	}
	.slide-wrapper {
		-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75) inset,
			0px -2px 4px 2px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75) inset,
			0px -2px 4px 2px rgba(0,0,0,0.3);
		box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75) inset,
			0px -2px 4px 2px rgba(0,0,0,0.3);
	}
}
